.property-value {
  display: flex;
  align-items: center;
}

.card-styled {
  min-width: 300px;
  margin: 10px 0;
}

.card-buttons-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}